@import './base.css';

body {
    margin: 0;
    padding: 0;
    background-color: var(--color-background-soft);
    display: flex;
    justify-content: center;
    align-items: center;
}

#app {
    display: flex;
    gap: 2.5rem;
    width: 100vw;
}